<div class="admin-panel">
    <h1 class="text-center text-white" style="margin: 20px;">Панель администратора</h1>
    <div class="admin-panel-content text-center">
        <a class="btn btn-primary admin-but" style="background: linear-gradient(135deg, #3498db, #2980b9);"  asp-action="Users" asp-controller="Admin">
            <span class="btn-icon">👥</span> Управление пользователями
        </a>
        <a class="btn btn-primary admin-but" style="background: linear-gradient(135deg, #2ecc71, #27ae60);" asp-action="Categories" asp-controller="Admin">
            <span class="btn-icon">📂</span> Управление категориями
        </a>
        <a class="btn btn-primary admin-but" style="background: linear-gradient(135deg, #9b59b6, #8e44ad);" asp-action="Games" asp-controller="Admin">
            <span class="btn-icon">🎮</span> Управление играми
        </a>
    </div>
</div>