<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Potratim — игры для твоей коллекции</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Potratim.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ">
            <div class="container justify-content-center">
                <a class="navbar-brand me-2" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo.png" alt="Potratim Logo" style="height: 85px;">
                </a>
                <a class="btn me-2" 
                style="width: auto; display: flex; align-items: center; background-color: #258cfb; color: white; border: none;"
                asp-area="" asp-controller="" asp-action="">Каталог</a>
                <form class="d-flex me-2" asp-controller="Game" asp-action="Search" method="get">
                    <input class="form-control me-2" 
                    style="width: 400px; border-width: 2px; border-color: #258cfb; font-size: 0.75rem;"  
                    type="search" name="query" placeholder="ПОИСК ПО МАГАЗИНУ" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
                <a class="btn me-2"
                style="width: auto; display: flex; align-items: center; background-color: #258cfb; color: white; border: none; margin-left: 10px;">Корзина</a>
                <a class="btn me-2"
                style="width: auto; display: flex; align-items: center; background-color: #258cfb; color: white; border: none;"
                asp-area="default"
                asp-controller="Account" asp-action="Login">Профиль</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Potratim - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
