<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Potratim — игры для твоей коллекции</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Potratim.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  box-shadow  mb-4">
            <div class="container justify-content-center">
                <a class="navbar-brand me-4" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Logo_hor.png" alt="Potratim Logo" class="navbar-logo" style="height: 65px;">
                </a>
                <a class="btn me-2"
                    style="width: auto; display: flex; align-items: center; background-color: #258cfb; color: white; border: none;"
                    asp-controller="Catalog" asp-action="Index">Каталог</a>
                <div class="navbar-search input-group">
                    <input type="text" class="form-control" placeholder="Поиск по магазину" name="searchString" />
                    <button class="btn btn-outline-secondary" type="submit">Поиск</button>
                </div>
                <a class="btn me-2"
                    style="width: auto; display: flex; align-items: center; background-color: #258cfb; color: white; border: none; margin-left: 10px;">Корзина</a>
                <a class="btn me-2"
                    style="width: auto; display: flex; align-items: center; background-color: #258cfb; color: white; border: none;"
                    asp-area="default" asp-controller="Account" asp-action="Login">Профиль</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="footer-content">
            <div class="footer-link-container">
                <div class="footer-info">
                    <h2>Potratim</h2>
                    <p>Ваш надежный источник для формирования и расширения коллекции игровых продуктов.</p>
                    <div class="footer-info-social">
                        <a href="https://github.com/vZidv" class="social-icon"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        <a href="https://github.com/vZidv" class="social-icon"><i class="fa fa-github" aria-hidden="true"></i></a>
                        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0&list=RDxvFZjo5PgG0&start_radio=1" class="social-icon"><i class="fa fa-youtube"></i></a>
                        <a href="https://ok.ru/video/455336725001" class="social-icon"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
                    </div>
                </div>
                <table class="footer-links-table">
                    <thead>
                        <th>Магазин</th>
                        <th>Поддержка</th>
                        <th>О компании</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @* Магазин *@
                                <div class="footer-links">
                                    <a asp-controller="Catalog" asp-action="Index">Все игры</a>
                                    <a asp-controller="Catalog" asp-action="Index" >Новинки</a>
                                    <a asp-controller="Catalog" asp-action="Index" >Акции</a>
                                    <a asp-controller="Catalog" asp-action="Index" >Предзаказы</a>
                                </div>
                            </td>
                            <td>
                                @* Поддержка *@
                                <div class="footer-links">
                                    <a href="https://github.com/vZidv">Центр поддержки</a>
                                    <a href="https://github.com/vZidv">Сообщить о проблеме</a>
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">Часто задаваемые вопросы</a>
                                    <a href="https://github.com/vZidv">Контакты</a>
                                </div>
                            </td>
                            <td>
                                @* О компании *@
                                <div class="footer-links">
                                    <a href="https://github.com/vZidv/Potratim">О нас</a>
                                    <a href="https://github.com/vZidv">Блог</a>
                                    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=RDdQw4w9WgXcQ&start_radio=1">Вакансии</a>
                                    <a href="https://github.com/vZidv">Партнерская программа</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-bottom">
                <hr />
                © @DateTime.Now.Year Potratim. Все права защищены.
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>