<div class="order-finished">
    <div class="order-finished-header">
        <i style="font-size: 7rem;" class="fa fa-check-circle-o order-finished-icon" aria-hidden="true"></i>
        <h2 class="order-finished-title">Спасибо за покупку!</h2>
        <p class="text-white text-center">Ваш заказ успешно оформлен. Ключи активации уже готовы к использованию.</p>
    </div>
    <div class="order-finished-info">
        <div class="order-finished-detail">
            <p class="text-white">Дата оформления:</p>
            <p class="order-finished-detail-value">@DateTime.Now.ToString("dd MMMM yyyy")</p>
        </div>
        <hr />
        <div class="order-finished-detail">
            <p class="text-white">Сумма заказа:</p>
            <p class="order-finished-detail-value">@ViewBag.TotalCost ₽</p>
        </div>
        <hr />
        <div class="order-finished-detail">
            <p class="text-white">Статус:</p>
            <p class="order-finished-detail-value">Оплачено ✓</p>
        </div>
    </div>
    <div class="order-finished-footer">
        <i class="fa fa-info-circle" style="color: #1ab6ff;" aria-hidden="true"></i>
        <p class="text-white">Ключи активации и инструкции вам не прийдут, так как у нас их нет, но вы с этим
            согласились</p>
    </div>
    <div class="order-finished-buttons text-center mt-4">
        <a asp-action="Index" asp-controller="Home"
        class="btn btn-primary order-finished-button" ><i class="fa fa-home" style="margin-right: 5px;" aria-hidden="true"></i>На главную</a>
    </div>
    <div class="order-finished-footer-info">
        <p>Если у вас возникли вопросы, обратитесь в <a href="https://github.com/vZidv">службу поддержки</a></p>
    </div>
</div>