html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font: #ffffff;
  background: linear-gradient(135deg, #130d1b 0%, #00060e 100%);
  /* background: linear-gradient(135deg, #101213 0%, #191a1b 100%); */
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

.nav-btn {
  width: auto;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #258cfb;
  color: white;
  border: none;
  margin: 0 10px;
  gap: 3px;
}

.nav-btn:hover {
  background-color: #63aefd;
  color: white;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-info-social {
  display: flex;
  gap: 12px;
}

.social-icon {
  color: #bbb;
  font-size: 1.45rem;
  text-decoration: none;
  transition: color 0.3s ease;
  background: #313131;
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  width: 40px;
  height: auto;
}

.social-icon:hover {
  color: #fff;
  transform: translateY(-1px);
  background: #363636;
}

/* Стиль для контейнера результатов */
.search-results-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results-container .result-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background 0.2s ease;
}

.search-results-container .result-item:hover {
  background-color: #f8f9fa;
}

.search-results-container .result-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 12px;
}

.search-results-container .result-item .title {
  font-weight: 500;
  margin: 0;
  flex-grow: 1;
  word-break: break-word;
}

.search-results-container .result-item .discount {
  background-color: #dc3545;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.8rem;
  margin-right: 8px;
}

.search-results-container .result-item .price {
  font-weight: bold;
  margin: 0;
}

/* Стиль для корзины покупок */

.cart-items-container {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  z-index: 1000;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* Test Properties */
  /* width: 100px;
    height: 100px; */
  background: white;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 6px;
  gap: 8px;
}

.cart-item img {
  width: 40px;
  height: auto;
  border-radius: 8px;
}

.cart-item-details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-item-details p {
  margin-top: 8px;
}

.cart-item-remove {
  margin-top: 7px;
}

.cart-item-remove button i {
  color: rgb(156, 156, 156);
}

.cart-item-remove button:hover i {
  color: rgb(255, 88, 88);
}

.cart-container {
  display: flex;
}

/* Стили для оформления заказа */

.contact-info {
  background: #1e1e1e;
  padding: 25px 16px;
  border-radius: 8px;
}

.contact-info .header {
  display: flex;
}



.number-move {
  background: #2b2b2b;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 14px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.2);
}

.number-move p {
  font-size: 1.5rem;
  color: #1780f9;
  margin-top: 10px;
  font-weight: bold;
}

.order-summary .header {
  display: flex;
  color: #1780f9;
}

.order-items {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
}

.order-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #4d4d4d;
}

.order-item img {
  width: 8%;
  border-radius: 8px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}

.order-item .item-details {
  color: rgb(216, 216, 216);
  margin-left: 20px;
}

.order-item .item-price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: rgb(216, 216, 216);
  font-size: 1.5rem;
  font-weight: 400;
}

.order-item .item-remove .btn-remove {
  color: #7c7c7c;
  font-size: 2rem;
  transition: transform 0.3s ease;
  margin-left: 30px;
}

.order-item .item-remove .btn-remove:hover {
  color: #ff5858;
  transform: scale(1.1);
}

.order-summary-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.order-summary-total h4 {
  color: rgb(216, 216, 216);
  font-size: 1.6rem;
  font-weight: bold;
}

.order-summary-total p {
  color: rgb(216, 216, 216);
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 10px;
}

.order-summary-count {
  display: flex;
  margin-top: 10px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid #4d4d4d;
}

.order-payment-way {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
}

.custom-radio-pay {
  background: #2c2c2c;
  border-radius: 6px;
  padding: 4px 4px;
  width: 150px;
  height: 130px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-methods {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 20px;
}

.payment-method {
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.payment-method:hover {
  box-shadow: 7px 9px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.custom-radio-unvisited:checked+.custom-radio-pay {
  background: #1780f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.payment-method-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  align-items: center;
}

.payment-method-details p {
  font-size: 1.1rem;
}

.custom-radio-pay {
  cursor: pointer;
}

.order-finish {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.agreements {
  display: flex;
  margin-bottom: 15px;
}

.order-button-confirm {
  background: #1bca15;
  color: white;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.order-button-confirm:hover {
  color: rgb(204, 204, 204);
  background: #17a30f;
  transform: scale(1.05);
  box-shadow: 4px 6px 4px rgba(78, 255, 122, 0.2);
}

.email-error {
  border: 2px solid rgb(255, 74, 74);
}

.email-agreement {
  border: 2px solid rgb(255, 74, 74);
  border-radius: 8px;
  padding: 3px;
}

/* Order/OrderFinished */

.order-finished {
  background: linear-gradient(134deg, #1e1e1e, #252525);
  margin-top: 100px;
  width: 38%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #1780f9;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.5);
}

.order-finished-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-finished-header .order-finished-icon,
.order-finished-header .order-finished-title {
  background: linear-gradient(to right, #1780f9, #ff93d4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.order-finished-title {
  font-size: 2rem;
  font-weight: bold;
}

.order-finished-detail {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.order-finished-info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #2b2b2b;
  padding: 10px;
  border-radius: 12px;
}

.order-finished-info hr {
  color: white;
  margin-top: 1px;
  margin-bottom: 1px;
}

.order-finished-detail-value {
  color: #1bca15;
  font-weight: bold;
}

.order-finished-footer {
  background: rgba(60, 105, 255, 0.1);
  margin-top: 14px;
  border-radius: 12px;
  padding: 8px;
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.order-finished-footer-info {
  color: rgba(255, 255, 255, 0.541);
  text-align: center;
  margin-top: 10px;
  padding: 0px 40px;
}

/* Account/Profile */
.user-profile-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bg-standart {
  background: linear-gradient(135deg, #1e1e1e, #252525);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 16px;
}
.user-info {
  height: 450px;
}
.user-info .user-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.user-info .user-email {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #f0f0f0;
  text-align: center;
}

.user-info .user-statuses {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #f0f0f0;
  text-align: center;
  margin-top: 10px;
}

.user-info .user-statuses .status {
  font-weight: bold;
  padding: 4px 10px;
  border-radius: 12px;
}

.user-info .user-info-footer {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #d3d3d3;
  text-align: center;
  margin-top: 10px;
  font-style: italic;
}
.user-collection {
  min-width: 80%;
}
.user-profile-container .collection-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* Account/EditProfile */
.edit-profile-container {
 width: 28%;
 margin: 0 auto;
}

.edit-field-label {
  color: white;
  font-weight: bold;
  text-align: left;
}



/* Home/index //////////////////////////////////////////////////////////////////////////*/

.header-section {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.header-home {
  background: radial-gradient(circle, rgba(187, 187, 187, 0.1) 20%, rgba(0, 0, 0, 0.9)),
    url('/images/Banner.png');
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* border-radius: 20px; */
}

.header-content {
  max-width: 800px;
  margin: 0 auto;
}

.header-title {
  font-size: 3.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-description {
  font-size: 1.2rem;
  color: #f0f0f0;
}

.game-new-home {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 15px;
}

.game-new-item-home {
  display: flex;
  flex-direction: row;
}

.game-card {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 220px;
  padding: 8px;
  height: 395px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.game-card-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.game-card-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 10px 0;
}

.game-new-swiper {
  padding: 10px 40px;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #428bca;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px;
  font-weight: bold;
}

.banner-mini-home {
  text-align: center;
}

.banner-mini-home img:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.banner-mini-home img {
  border-radius: 15px;
}

.game-categories {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
}

.game-categories-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.game-category-item {
  background: linear-gradient(135deg, #469dff, #ff93d4);
  border-radius: 5px;
  padding: 18px;
  color: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.game-category-item:hover {
  transform: translateY(-5px);
  box-shadow: 2px 4px 15px rgba(255, 255, 255, 0.5);
}

.game-category-title {
  font-size: 1.8rem;
  font-weight: 300;
}

.some-game-home {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
}

.some-game-home-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

/* Catalog/Index //////////////////////////////////////// */

.catalog-head-content {
  background: #1e1e1e;
  padding: 22px;
  border-radius: 12px;
}

.catalog-head-search {
  border-radius: 12px 0 0 12px;
  overflow: hidden;
}

.catalog-head-content-under {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.catalog-body-content {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.game-filter-content {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  min-width: 290px;
}

.game-filter-apply {
  margin-top: 20px;
  text-align: center;
}

.game-filter-apply button {
  background-color: #54ff9ed0;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-filter-apply button:hover {
  background-color: #40b986d2;
  transform: translateY(-2px);
  box-shadow: 2px 4px 15px rgba(84, 255, 158, 0.5);
}

.game-filter-title {
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.game-filter-category-item {
  color: white;
  margin-bottom: 3px;
  font-size: 1.1rem;
  font-weight: 300;
  min-width: 150px;
}

.game-filter-category-item input {
  width: 18px;
  height: 18px;
}

.game-filter-price-range {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 2px;
  width: 100%;
  box-sizing: border-box;
}

.pagination-btn {
  background: #1780f9;
  color: white;
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;
}

.pagination-btn:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #469dff, #ff93d4);
  box-shadow: 2px 6px 5px rgba(188, 188, 188, 0.2);
}

.pagination-btn-selected {
  color: #1e1e1e;
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;
  background: linear-gradient(135deg, #469dff, #ff93d4);
  box-shadow: 2px 6px 5px rgba(188, 188, 188, 0.2);
  transform: translateY(-2px);
}

.game-filter-price-range input[type="range"] {
  flex: 1;
}

.price-input-group-container {
  display: flex;
  flex-direction: row;
  gap: 37px;
}

.price-input-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 100px;
}

.price-input {
  width: 100%;
  padding: 6px 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: white;
  font-size: 0.9rem;
  text-align: center;
  transition: border-color 0.2s ease;
}

.price-input:focus {
  outline: none;
  border-color: #1780f9;
}

.currency {
  font-size: 0.9rem;
  color: #ffffff;
  margin-left: 5px;
  margin-top: -2px;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 5px;
  margin: 20px 0;
  box-sizing: border-box;
}

.slider-track {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333;
  border-radius: 5px;
}

.slider-range {
  position: absolute;
  height: 100%;
  background: #1780f9;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 100%;
}

.price-slider {
  position: absolute;
  top: -7px;
  width: 100%;
  -webkit-appearance: none;
  pointer-events: none;
  height: 20px;
  background: none;
  z-index: 1;
}

.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #1780f9;
  cursor: pointer;
  border: 2px solid white;
  z-index: 2;
}


.game-list-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 100%;
  box-sizing: border-box;
}

.game-list {
  flex: 1;
  width: 100%;
}

.game-list-content {
  width: 100%;
}

.game-list-item {
  background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.5));
  border-radius: 8px;
  overflow: hidden;
  width: 100%;
  max-width: 220px;
  padding: 8px;
  height: 410px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.game-list-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.3);
}

.game-list-item h4 {
  font-size: 1.1rem;
  margin: 4px 2px;
}

.game-catalog-image {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 8px;
}

.game-list-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

.game-list-item-category {
  font-size: 0.8rem;
  color: #b7b7b7;
  background: #444444;
  border-radius: 6px;
  padding: 2px 4px;
}

.game-list-item-price {
  font-size: 1.15rem;
  color: #54ff9ed0;
  margin-top: auto;
  margin-bottom: 1px;
  margin-left: 2px;
  align-self: flex-start;
  font-weight: bold;
}

/* /Game */

.game-top-section {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.game-similar {
  margin-top: 40px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
}

.game-image {
  flex: 1;
  width: 100%;
}

.game-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.game-sold-review-result {
  display: flex;
  flex-direction: row;
  color: #646464;
  gap: 5px;
}

.game-info {
  flex: 3.5;
  font-weight: bold;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.game-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f0f0f0;
}


.game-purchase button {
  border-radius: 6px;
  font-size: 1.4rem;
  color: #1e1e1e;
  font-weight: bold;
  border-style: none;
  margin-right: 14px;
}

.game-buy-button {
  background: linear-gradient(135deg, #18ff78, #95ffc1);
}

.game-add-to-cart-button {
  background: linear-gradient(135deg, #1780f9, #71b0f7);
}

.game-details {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
}

.game-details-buttons button {
  background: #BEE4D0;
  color: #1e1e1e;
  border-radius: 6px;
  border-style: none;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.game-description {
  background: #252525;
  color: #f0f0f0;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
}

.game-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;
  text-align: left;
  justify-content: left;
  padding: 0 0;
}

.game-container .game-category {
  font-size: 0.8rem;
  color: #b7b7b7;
  background: #444444;
  border-radius: 6px;
  padding: 2px 4px;
}

.game-info-main {
  display: flex;
  flex-direction: column;
  background: #252525;
  padding: 12px;
  border-radius: 12px;
  gap: 8px;
  width: 40%;
}

.game-info-main div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.game-top-section-content {
  display: flex;
  flex-direction: row;
}

.game-info-main h2 {
  padding: 0px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #6b6b6b;
}

.game-info-main p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0;
}

.game-info-buy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(135deg, #2b2b2b, #252525);
  padding: 12px;
  text-align: center;
  width: 25%;
  border-radius: 12px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.3);
}

.game-info-buy-bags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.game-info-buy-bag {
  background: #1e1e1e;
  border-radius: 6px;
  padding: 4px 18px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 0.9rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-info-buy-bag:hover {
  box-shadow: -3px 3px 0px rgba(24, 255, 120, 1);
  transform: translateY(-2px);
  transform: translateZ(2px);
}

.game-info-buy-bag i {
  font-size: 2.0rem;
  margin-right: 12px;
  font-weight: bold;
}

.game-reviews-wrapper .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444444;
  border-radius: 40px;
  width: 60px;
  height: 60px;
}

.game-reviews-wrapper .user-avatar i {
  font-size: 2.5rem;
  color: #fff;
}

.game-reviews-wrapper-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-reviews-wrapper-content .wrapper {
  width: 100%;
}

.game-reviews-wrapper-content .wrapper input[type="text"] {
  width: 100%;
  min-height: 50px;
  border-radius: 10px 10px 10px 0px;
  text-wrap: wrap;
  text-wrap-mode: wrap;
}

.game-reviews-submit {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 10px;
}

.game-reviews-wrapper {
  background: #252525;
  padding: 14px;
  border-radius: 10px;
}

.game-reviews-wrapper-grade {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.custom-radio-unvisited {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-radio-grade {
  background: #2c2c2c;
  border-radius: 6px;
  padding: 2px 4px;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.custom-radio-grade i {
  font-size: 2.1rem;
}

.custom-radio-grade :hover {
  transform: translateY(-2px);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-radio-unvisited:checked+.custom-radio-grade {
  background: #1780f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.game-reviews-list-container {
  background: #252525;
  padding: 12px;
  border-radius: 10px;
}

.game-review-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px;
  border-bottom: 1px solid #444444;
}

.game-review-item:last-child {
  border-bottom: none;
}

.game-review-text {
  color: #f0f0f0;
  font-size: 1rem;
}

.game-review-grade {
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-review-grade i {
  color: #1780f9;
}

.game-review-item .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444444;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.game-review-item .user-avatar i {
  font-size: 2.5rem;
  color: #fff;
}

.game-review-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-review-item .game-review-text {
  text-wrap: wrap;
}

.game-review-item .game-review-grade {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
}

.game-review-item .game-review-grade i {
  font-size: 2.5rem;
}

.game-review-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-reviews-list-container .message {
  background: #444444;
  color: white;
  border-radius: 12px;
  margin: 10px 0px;
  padding: 12px;
}

.field-validation-error {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.input-validation-error {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

/* Account/Login.cshtml */

.my-custom-column {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
}


.log-group {
  margin-bottom: 15px;
}

/* Admin/Panel */
.user-profile {
  background-color: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

.admin-panel-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #1e1e1e;
  border-radius: 15px;
  color: white;
}

.admin-but {
  border: none;
  margin: 20px;
  font-size: 25px;
  padding: 10px 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.admin-but:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.btn-icon {
  margin-right: 5px;
  font-size: 30px;
}

.admin-panel {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 80vh;
}

/* Admin/Categories */
.categories-header {
  margin-bottom: 30px;
}

.categories-content {
  background: linear-gradient(135deg, #2c3e50, #4b6584);
  padding: 20px 30px;
  border-radius: 20px;
}

/* Admin/Categories/Create */

.category-add-form {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

/* Admin/Categories/Delete */

.category-delete-form {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

/* Admin/Games */

.games-content {
  background: linear-gradient(135deg, #2c3e50, #4b6584);
  padding: 20px 30px;
  border-radius: 20px;
}

.game-create-form {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
}

/* Admin/Games/Delete */

.game-delete-confirmation {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 15px;
}

.game-delete-confirmation img {
  max-width: 100px;
  height: auto;
  display: block;
  border-radius: 18px;
}

/* Admin/Games/Edit */

.img-game-edit {
  max-width: 300px;
  height: auto;
  display: block;
  border-radius: 15px;
}

/* Users/Index */

.users-container {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.users-stats-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.users-stats-list div {
  background: linear-gradient(135deg, #1780f9b9, #71b0f7b6);
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 15px;
  width: 200px;
}

.users-stats-list h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.users-input-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.users-filters {
  background: #252525;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  width: 100%;
}


.users-filters-1,
.users-filters-2 {
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.users-input-group sub {
  color: #ccc;
  font-size: 0.9rem;
}

.users-input-group-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-left: 40px;
}

.btn-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.btn-filter:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.users-input-search {
  flex: 1;
  min-width: 600px;
}

.users-input-group select {
  flex: 1;
  min-width: 250px;
}

.users-input-group-date {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.users-input-group-date input[type="date"] {
  flex: 1;
  min-width: 250px;
}

.users-list {
  border-radius: 8px;
  overflow: hidden;
  background: #2c2c2c;
}

.users-list-table {
  width: 100%;
  border-collapse: collapse;
}

.users-list-table th {
  background: #252525;
  color: white;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #444;
}


.users-list-table th:hover {
  background: #414141;
}

.users-list-table td {
  padding: 12px;
  border-bottom: 2px solid #444;
  text-align: center;
}

.users-list .user-status,
.users-list .user-role {
  padding: 2px 8px;
  border-radius: 8px;
  display: inline-block;
  margin: 6px 0px;
  min-width: 90px;
  text-align: center;
  font-weight: 500;
}

.table-btn {
  font-size: 1.1rem;
  color: white;
  width: 35px;
  height: 35;
}

.table-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  color: white;
}

.date-error {
  border-color: #dc3545 !important;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

/* Users/Edit */

.edit-user-form {
  background: #1e1e1e;
  border-radius: 15px;
  padding: 20px;
  color: white;
  width: 80%;
  margin: 0 auto;
}

.edit-user-form .header-info {
  width: 300px;
  color: #1780f9;
}

.edit-user-form .header-info h2 {
  font-size: 1.4rem;
}

.edit-user-form .header-info hr {
  border-top: 4px solid #1780f9;
  margin: 8px 0;
}

.edit-user-form sub {
  color: #929292;
  font-size: 0.8rem;
}

.user-role-status-info-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.user-edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: right;
  margin-left: 40px;
}

.user-edit-buttons .btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-edit-buttons .btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}