.pagination-btn {
  background: #1780f9;
  color: white;
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;
}

.pagination-btn:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #469dff, #ff93d4);
  box-shadow: 2px 6px 5px rgba(188, 188, 188, 0.2);
}

.pagination-btn-selected {
  color: #1e1e1e;
  font-weight: bold;
  border: none;
  transition: background 0.3s ease;
  background: linear-gradient(135deg, #469dff, #ff93d4);
  box-shadow: 2px 6px 5px rgba(188, 188, 188, 0.2);
  transform: translateY(-2px);
}