.edit-profile-container {
  width: 28%;
  margin: 0 auto;
}

.edit-field-label {
  color: white;
  font-weight: bold;
  text-align: left;
}

.profile-picture-edit {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  border: 3px solid #ddd;
  transition: 0.3s;

}

.profile-picture-edit:hover {
  border-color: #1780f9;
}

#fileInput {
  display: none;
}