.game-top-section {
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.game-similar {
  margin-top: 40px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
}

.game-image {
  flex: 1;
  width: 100%;
}

.game-image img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.game-sold-review-result {
  display: flex;
  flex-direction: row;
  color: #646464;
  gap: 5px;
}

.game-info {
  flex: 3.5;
  font-weight: bold;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.game-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #f0f0f0;
}


.game-purchase button {
  border-radius: 6px;
  font-size: 1.4rem;
  color: #1e1e1e;
  font-weight: bold;
  border-style: none;
  margin-right: 14px;
}

.game-buy-button {
  background: linear-gradient(135deg, #18ff78, #95ffc1);
}

.game-add-to-cart-button {
  background: linear-gradient(135deg, #1780f9, #71b0f7);
}

.game-details {
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
}

.game-details-buttons button {
  background: #BEE4D0;
  color: #1e1e1e;
  border-radius: 6px;
  border-style: none;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.game-description {
  background: #252525;
  color: #f0f0f0;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
}

.game-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 8px;
  text-align: left;
  justify-content: left;
  padding: 0 0;
}

.game-container .game-category {
  font-size: 0.8rem;
  color: #b7b7b7;
  background: #444444;
  border-radius: 6px;
  padding: 2px 4px;
}

.game-info-main {
  display: flex;
  flex-direction: column;
  background: #252525;
  padding: 12px;
  border-radius: 12px;
  gap: 8px;
  width: 40%;
}

.game-info-main div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.game-top-section-content {
  display: flex;
  flex-direction: row;
}

.game-info-main h2 {
  padding: 0px 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: #6b6b6b;
}

.game-info-main p {
  font-size: 0.9rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0px 0;
}

.game-info-buy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(135deg, #2b2b2b, #252525);
  padding: 12px;
  text-align: center;
  width: 25%;
  border-radius: 12px;
  box-shadow: 3px 8px 12px rgba(0, 0, 0, 0.3);
}

.game-info-buy-bags {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.game-info-buy-bag {
  background: #1e1e1e;
  border-radius: 6px;
  padding: 4px 18px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 0.9rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.game-info-buy-bag:hover {
  box-shadow: -3px 3px 0px rgba(24, 255, 120, 1);
  transform: translateY(-2px);
  transform: translateZ(2px);
}

.game-info-buy-bag i {
  font-size: 2.0rem;
  margin-right: 12px;
  font-weight: bold;
}

.game-reviews-wrapper .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444444;
  border-radius: 40px;
  width: 60px;
  height: 60px;
}

.game-reviews-wrapper .user-avatar i {
  font-size: 2.5rem;
  color: #fff;
}

.game-reviews-wrapper-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.game-reviews-wrapper-content .wrapper {
  width: 100%;
}

.game-reviews-wrapper-content .wrapper input[type="text"] {
  width: 100%;
  min-height: 50px;
  border-radius: 10px 10px 10px 0px;
  text-wrap: wrap;
  text-wrap-mode: wrap;
}

.game-reviews-submit {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  margin-top: 10px;
}

.game-reviews-wrapper {
  background: #252525;
  padding: 14px;
  border-radius: 10px;
}

.game-reviews-wrapper-grade {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.custom-radio-unvisited {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.custom-radio-grade {
  background: #2c2c2c;
  border-radius: 6px;
  padding: 2px 4px;
  width: 60px;
  height: 60px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.custom-radio-grade i {
  font-size: 2.1rem;
}

.custom-radio-grade :hover {
  transform: translateY(-2px);
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.custom-radio-unvisited:checked+.custom-radio-grade {
  background: #1780f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.game-reviews-list-container {
  background: #252525;
  padding: 12px;
  border-radius: 10px;
}

.game-review-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 12px;
  border-bottom: 1px solid #444444;
}

.game-review-item:last-child {
  border-bottom: none;
}

.game-review-text {
  color: #f0f0f0;
  font-size: 1rem;
}

.game-review-grade {
  display: flex;
  align-items: center;
  gap: 4px;
}

.game-review-grade i {
  color: #1780f9;
}

.game-review-item .user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #444444;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.game-review-item .user-avatar i {
  font-size: 2.5rem;
  color: #fff;
}

.game-review-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.game-review-item .game-review-text {
  text-wrap: wrap;
}

.game-review-item .game-review-grade {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding: 10px;
}

.game-review-item .game-review-grade i {
  font-size: 2.5rem;
}

.game-review-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.game-reviews-list-container .message {
  background: #444444;
  color: white;
  border-radius: 12px;
  margin: 10px 0px;
  padding: 12px;
}

.field-validation-error {
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.input-validation-error {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.profile-picture-review {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.game-review-username {
  color: #1780f9;
  font-weight: bold;
  margin-bottom: 0;
}

.game-review-role-container {
  padding: 1px;
  border-radius: 5px;
  width: 70px;
  height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.game-review-role {
  color: #e2e2e2;
  font-size: 0.75rem;
  font-weight: bold;
}