.contact-info {
  background: #1e1e1e;
  padding: 25px 16px;
  border-radius: 8px;
}

.contact-info .header {
  display: flex;
}



.number-move {
  background: #2b2b2b;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 14px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.2);
}

.number-move p {
  font-size: 1.5rem;
  color: #1780f9;
  margin-top: 10px;
  font-weight: bold;
}

.order-summary .header {
  display: flex;
  color: #1780f9;
}

.order-items {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
}

.order-item {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #4d4d4d;
}

.order-item img {
  width: 8%;
  border-radius: 8px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.5);
}

.order-item .item-details {
  color: rgb(216, 216, 216);
  margin-left: 20px;
}

.order-item .item-price {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  color: rgb(216, 216, 216);
  font-size: 1.5rem;
  font-weight: 400;
}

.order-item .item-remove .btn-remove {
  color: #7c7c7c;
  font-size: 2rem;
  transition: transform 0.3s ease;
  margin-left: 30px;
}

.order-item .item-remove .btn-remove:hover {
  color: #ff5858;
  transform: scale(1.1);
}

.order-summary-total {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.order-summary-total h4 {
  color: rgb(216, 216, 216);
  font-size: 1.6rem;
  font-weight: bold;
}

.order-summary-total p {
  color: rgb(216, 216, 216);
  font-size: 1.4rem;
  font-weight: 300;
  margin-left: 10px;
}

.order-summary-count {
  display: flex;
  margin-top: 10px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid #4d4d4d;
}

.order-payment-way {
  background: #1e1e1e;
  border-radius: 8px;
  padding: 15px;
}

.custom-radio-pay {
  background: #2c2c2c;
  border-radius: 6px;
  padding: 4px 4px;
  width: 150px;
  height: 130px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-methods {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  gap: 20px;
}

.payment-method {
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}

.payment-method:hover {
  box-shadow: 7px 9px 5px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.custom-radio-unvisited:checked+.custom-radio-pay {
  background: #1780f9;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.payment-method-details {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 4rem;
  align-items: center;
}

.payment-method-details p {
  font-size: 1.1rem;
}

.custom-radio-pay {
  cursor: pointer;
}

.order-finish {
  background: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.agreements {
  display: flex;
  margin-bottom: 15px;
}

.order-button-confirm {
  background: #1bca15;
  color: white;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.order-button-confirm:hover {
  color: rgb(204, 204, 204);
  background: #17a30f;
  transform: scale(1.05);
  box-shadow: 4px 6px 4px rgba(78, 255, 122, 0.2);
}

.email-error {
  border: 2px solid rgb(255, 74, 74);
}

.email-agreement {
  border: 2px solid rgb(255, 74, 74);
  border-radius: 8px;
  padding: 3px;
}