.footer {
  padding: 20px 10%;
  color: white;
  position: absolute;
  width: 100%;
  white-space: nowrap;
  line-height: 35px;
  background: #1e1e1e;
  margin: 60px 0px;
}
.footer-content{
  width: 60%;
  margin: 0 auto;
}

.footer-bottom {
  color: white;
  text-align: center;
}

.footer-link-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;
}

.footer-links-table {
  width: 100%;
}

.footer-links-table th {
  font-size: 22px;
  padding: 0px 0px 5px 0px;
}

.footer-links-table td {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.658);
  margin: 0px 10px 10px 0px;
}

.footer-links-table tr {
  height: 10px;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-info p {
  text-wrap: wrap;
}

.navbar {
  background: #1e1e1e;
}

.footer-links a {
  color: #bbb !important;
  text-decoration: none !important;
  transition: color 0.3s ease !important;
}

.footer-links a {
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
  text-decoration: none;
}

.footer-info-social {
  display: flex;
  gap: 12px;
}

.social-icon {
  color: #bbb;
  font-size: 1.45rem;
  text-decoration: none;
  transition: color 0.3s ease;
  background: #313131;
  border-radius: 20px;
  padding: 3px;
  text-align: center;
  width: 40px;
  height: auto;
}

.social-icon:hover {
  color: #fff;
  transform: translateY(-1px);
  background: #363636;
}